<!-- Body -->
<div
  class="divide-y divide-gray-200"
  data-controller="browser-url-updater"
  data-browser-url-updater-params-value="<%= session[:employees_filters].reject { |key| params.key?(key) || key == 'page' }.to_json%>"
>
  <%= render employees %>
</div>
<!-- End Body -->
<div class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-t border-gray-200">
  <%== pagy_nav(@pagy, link_extra: 'data-turbo-action="advance"') %>
</div>
